{% extends 'base.html' %}
{% block title %}
    Account
{% endblock %}
{% block css %}
    <style>
        .layui-form-item .layui-input-inline {
            float: left;
            width: 315px;
            margin-right: 10px;
        }

        .layui-form-pane .layui-form-label {
            width: 153px;
        }


        .logo {
            height: 100px;
            width: 100px;
            margin: 0 auto;
            display: block;
            border-radius: 100%;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'header.html' %}
    <div class="layui-container fly-marginTop fly-user-main">
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">

            {% if userinfo is None %}
                <img src="/static/profile_pictures/default.png" class="logo">
            {% else %}
                <img src="{{ userinfo.Avatar }}" class="logo">
            {% endif %}
            <li class="layui-nav-item">
                <a href="{% url 'Account:setting' %}">
                    <i class="layui-icon ">&#xe681;</i>
                    Upload Avatar
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="index.html">
                    <i class="layui-icon">&#xe63a;</i>
                    My Reviews
                </a>
            </li>
            <li class="layui-nav-item ">
                <a href="">
                    <i class="layui-icon">&#xe660;</i>
                    Saved Attractions
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="{% url 'Account:loginout' %}">
                    <i class="layui-icon icon-daima"></i>
                    Sign Out
                </a>
            </li>
        </ul>

        <div class="site-tree-mobile layui-hide">
            <i class="layui-icon">&#xe602;</i>
        </div>
        <div class="site-mobile-shade"></div>

        <div class="site-tree-mobile layui-hide">
            <i class="layui-icon">&#xe602;</i>
        </div>
        <div class="site-mobile-shade"></div>


        <div class="fly-panel fly-panel-user" pad20>
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title" id="LAY_mine">
                    <li class="layui-this" lay-id="info">User Infomation</li>
                    {#                    <li lay-id="avatar">头像</li>#}
                    {#                    <li lay-id="pass">密码</li>#}
                    {#                    <li lay-id="bind">帐号绑定</li>#}
                </ul>
                <div class="layui-tab-content" style="padding: 20px 0;">
                    <div class="layui-form layui-form-pane layui-tab-item layui-show">
                        <div class="layui-form layui-form-pane">
                            <form method="post">
                                <div class="layui-form-item">
                                    <label for="L_email" class="layui-form-label">Username</label>
                                    <div class="layui-input-inline">
                                        {{ userInfomationForm.username }}
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="L_username" class="layui-form-label">Surname</label>
                                    <div class="layui-input-inline">
                                        {{ userInfomationForm.surname }}
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="L_pass" class="layui-form-label">Frist Name</label>
                                    <div class="layui-input-inline">
                                        {{ userInfomationForm.fristname }}
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="L_pass" class="layui-form-label">Date of Brith</label>
                                    <div class="layui-input-inline">
                                        {{ userInfomationForm.brith }}
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="L_pass" class="layui-form-label">Email</label>
                                    <div class="layui-input-inline">
                                        {{ userInfomationForm.email }}
                                    </div>
                                </div>

{#                                <div class="layui-form-item">#}
{#                                    <button class="layui-btn" lay-filter="*" lay-submit>Save</button>#}
{#                                </div>#}
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
      <button class="layui-btn" style="float: right;"><img src="/static/sign-up/22.png" alt="" style="width:30px;height: 30px;">Contact Us </button>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        layui.use(['laydate', 'form', 'jquery', 'element', 'laydate'], function () {
            var $ = layui.jquery;
            var form = layui.form;
            var element = layui.element;
            layui.laydate.render({
                elem: '#id_brith',
                 lang:'en'
            })

            $(".logo").click(function () {
                window.location.href="{% url 'Account:setting' %}"
            })
            form.on('submit(*)', function (data) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'Account:setting' %}",
                    data: data.field,
                    success: function (res) {
                        if (res["status"] || res["status"] == undefined) {
                            layer.confirm(res["msg"], {
                                title:'Information',
                                btn: ['confirm'] //按钮
                            }, function () {
                                if (res["msg"] == "Login Successful!") {
                                    window.location.href = "{% url 'home:homepage' %}"
                                }
                                else {
                                    window.location.reload()
                                }
                            })
                        } else {
                            res = JSON.parse(res["res"]);
                            var msg_count = Object.keys(res)
                            layer.msg(res[msg_count[0]][0].message, {
                                icon: 5,
                                shift: 6
                            });
                            $(".layui-input[name='" + msg_count[0] + "']").focus();
                            $(".layui-input[name='" + msg_count[0] + "']").addClass("layui-form-danger");
                        }
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}