{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}
{{ attraction.City.Name }} - {{ attraction.Name }}
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/attraction.css' %}">
<script src="{% static 'scripts/rateCity.js' %}" defer></script>
<script src="{% static 'scripts/viewOnMap.js' %}"></script>
<script src="{% static 'scripts/saveAttraction.js' %}" defer></script>
<script language="javascript">
    function apiLoaded() {
      map = initMap({lat:{{attraction.CoordinateNorth}},lng:{{attraction.CoordinateEast}}});
      markers = new Array(addMarker(map, {{attraction.CoordinateNorth}}, {{attraction.CoordinateEast}}, '{{attraction.Name}}', {{attraction.pk}}));
      markers[0].infowindow.open(map, markers[0]);
    } 
</script>
<script language="javascript">
  var cityRatingName = [];
  var cityRatingValue = [];
  var cit = [];
  
  {% for city in cities %}
  	 cit.push("{{ city.NameSlug }}");
  {% endfor %}
  {% for rating in city_ratings %}
  	cityRatingName.push("{{ rating.CityRated.NameSlug }}");
  	cityRatingValue.push({{ rating.Rating }})
  {% endfor %}
</script>
<script>
    var savedAttr = []
    savedAttr.push("{{saved_attraction.NameSlug}}");
</script>

{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ attraction.Name }}</h1>
            <div class="row mt-2">
                <div class="col-md d-grid gap-2 mb-2">
                    <div class="content-container d-flex flex-column align-items-center text-center pb-0">
                        <span class="fs-6">Description</span>
                        <p style="font-size: 0.8rem; margin: 0">{{ attraction.Description }}</p>
                    </div>
                    <div class="content-container d-flex flex-column align-items-center text-center pb-0">
                        <span class="fs-6">Average time taken to see this attraction</span>
                        <span class="fs-5">{{ attraction.getAverageTimeSpent.hours }} hours {{ attraction.getAverageTimeSpent.minutes }} minutes</span>
                    </div>
                    <div class="content-container d-flex flex-column align-items-center text-center pb-0">
                        <span class="fs-6">Views by users</span>
                        <span class="fs-5">{{ attraction.Views }}</span>
                    </div>
                    <div class="content-container d-flex flex-column align-items-center text-center pb-0">
                        <span class="fs-6">Part of City</span>
                        <span class="fs-5"><a href="{% url 'home:citypage' attraction.City.NameSlug 'list' %}">{{ attraction.City.Name }}</a></span>
                    </div>
                </div>
                <div class="col-md mb-2">
                    <div class="content-container">
                        <div id="map"></div>
                    </div>      
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md">
                  <div class="content-container">
                      <h2>User Reviews</h2>
                      
                      {% for review in reviews %}
                      <div class="row ms-2 me-2 border">
                        <div class="col-md-2 p-3 border">
                            {{ review.UserReviewing.Name }} {{ review.UserReviewing.Surname|first }}.<br />({{ review.UserReviewing.DjangoUser.username }})
                        </div>
                        <div class="col-md-3 p-3 border d-flex align-items-center text-center">
                            {% for i in '12345'|make_list %}
            					{% if review.Rating > forloop.counter0 %}
            					   <span class="fa fa-star fa-lg checked me-1 checked" value="{{ forloop.counter }}"></span>
            					{% else %}
            					   <span class="fa fa-star fa-lg me-1" value="{{ forloop.counter }}"></span>
            					{% endif %}
        					{% endfor %}   
                        </div>
                        <div class="col-md-5 p-3 border align-middle">
                            <p>{{ review.Title }} <br /><a href="#" class="fw-bold">Read the full review.</a></p>
                        </div>
                        <div class="col-md-2">
                            <div class="row">yes</div>
                            <div class="row">no</div>
                        </div>
                      </div>
                      {% endfor %}
                      
                  </div>
                </div>
            </div>
        </div>
        {% include 'attraction_sidebar.html' %}

    </div> 
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_e1GTo3SgpsDHlgVEBRbSCr8BwhAFyQ&callback=apiLoaded&language=en"></script>
{% endblock %}