{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}
{{ attraction.City.Name }} - {{ attraction.Name }}
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/attraction.css' %}">
<script src="{% static 'scripts/rateAttraction.js' %}" defer></script>
<script src="{% static 'scripts/viewOnMap.js' %}"></script>
<script language="javascript">
    function apiLoaded() {
      map = initMap({lat:{{attraction.CoordinateNorth}},lng:{{attraction.CoordinateEast}}});
      markers = new Array(addMarker(map, {{attraction.CoordinateNorth}}, {{attraction.CoordinateEast}}, '{{attraction.Name}}', {{attraction.pk}}));
      markers[0].infowindow.open(map, markers[0]);
    } 
</script>
<script language="javascript">
  var cityRatingName = [];
  var cityRatingValue = [];
  var cit = [];
  
  {% for city in cities %}
  	 cit.push("{{ city.NameSlug }}");
  {% endfor %}
  {% for rating in city_ratings %}
  	cityRatingName.push("{{ rating.CityRated.NameSlug }}");
  	cityRatingValue.push({{ rating.Rating }})
  {% endfor %}
</script>

{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ attraction.Name }}</h1>
            <div class="row mt-2">
                <div class="col-md d-grid gap-2">
                    <div class="content-container d-flex flex-column align-items-center text-center">
                        <span class="fs-6">Description</span>
                        {{ attraction.Description }}
                    </div>
                    <div class="content-container d-flex flex-column align-items-center text-center">
                        <span class="fs-6">Average time taken to see this attraction</span>
                        <span class="fs-5">{{ attraction.getAverageTimeSpent.hours }} hours {{ attraction.getAverageTimeSpent.minutes }} minutes</span>
                    </div>
                    <div class="content-container d-flex flex-column align-items-center text-center">
                        <span class="fs-6">Views by users</span>
                        <span class="fs-5">{{ attraction.Views }}</span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="content-container">
                        <div id="map"></div>
                    </div>      
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md">
                  <div class="content-container">
                      <h2>User Reviews</h2>
                      
                      {% for review in reviews %}
                      <div class="row ms-2 me-2 border">
                        <div class="col-md-2 p-3">
                            {{ review.UserReviewing.Name }} {{ review.UserReviewing.Surname|first }}.<br />({{ review.UserReviewing.DjangoUser.username }})
                        </div>
                        <div class="col-md-3 p-3">
                            {% for i in '12345'|make_list %}
            					{% if review.Rating > forloop.counter0 %}
            					   <span class="fa fa-star fa-lg checked me-1 checked" value="{{ forloop.counter }}"></span>
            					{% else %}
            					   <span class="fa fa-star fa-lg me-1" value="{{ forloop.counter }}"></span>
            					{% endif %}
        					{% endfor %}   
                        </div>
                        <div class="col-md-5 p-3">
                            {{ review.Title }} <br /><a href="#" class="fw-bold">Read the full review.</a>
                        </div>
                        <div class="col-md-2">
                            <div class="align-top">like</div>
                            <div class="align-bottom">dislike </div>
                        </div>
                      </div>
                      {% endfor %}
                      
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-container green-background d-grid gap-2">
                <img src="{{ MEDIA_URL }}{{ attraction.HeaderPicture }}" alt="{{ attraction.Name }}" title="{{ attraction.Name }}" class="img-fluid" />
                <div class="content-container fw-bold">
              		<li>
    					Average User Rating:
    					{% for i in '12345'|make_list %}
        					{% if attraction.getAverageRating > forloop.counter0 %}
        					   <span class="fa fa-star fa-lg checked me-1 checked" value="{{ forloop.counter }}"></span>
        					{% else %}
        					   <span class="fa fa-star fa-lg me-1" value="{{ forloop.counter }}"></span>
        					{% endif %}
    					{% endfor %}
    				</li>
                </div>
                {% if user.is_authenticated %}
                  <div class="content-container fw-bold">
      					<li class="rating_section my_rating">
      						My rating:
      					</li>
                  </div>             
                  <button type="button" class="btn btn-primary btn-lg">
                      Save this attraction 
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>
                  </button>
                  <button type="button" class="btn btn-primary btn-lg">
                      Leave a review
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                          <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                      </svg>
                  </button>
                {% endif %}
            </div>
        </div>       
    </div> 
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=apiLoaded&language=en"></script>
{% endblock %}