{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}
{{ attraction.City.Name }} - {{ attraction.Name }}
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/attraction.css' %}">
<script src="{% static 'scripts/rateCity.js' %}" defer></script>
<script src="{% static 'scripts/viewOnMap.js' %}"></script>
<script src="{% static 'scripts/saveAttraction.js' %}" defer></script>
<script src="{% static 'scripts/reviews.js' %}"></script>
<script language="javascript">
    function apiLoaded() {
      map = initMap({lat:{{attraction.CoordinateNorth}},lng:{{attraction.CoordinateEast}}});
      markers = new Array(addMarker(map, {{attraction.CoordinateNorth}}, {{attraction.CoordinateEast}}, '{{attraction.Name}}', {{attraction.pk}}));
      markers[0].infowindow.open(map, markers[0]);
    } 
</script>
<script language="javascript">
  var cityRatingName = [];
  var cityRatingValue = [];
  var cit = [];
  
  {% for city in cities %}
  	 cit.push("{{ city.NameSlug }}");
  {% endfor %}
  {% for rating in city_ratings %}
  	cityRatingName.push("{{ rating.CityRated.NameSlug }}");
  	cityRatingValue.push({{ rating.Rating }})
  {% endfor %}
</script>
<script>
    var savedAttr = []
    savedAttr.push("{{saved_attraction.NameSlug}}");
</script>
<script>
    updateReviews("{% url 'home:attractionpage' attraction.City.NameSlug attraction.NameSlug %}", "list");
</script>

{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ attraction.Name }}</h1>
            <div class="row mt-2">
                <div class="col-md d-grid gap-2 mb-2">
                    <div class="content-container d-flex flex-column align-items-center text-center pb-0">
                        <span class="fs-6">Description</span>
                        <p style="font-size: 0.8rem; margin: 0">{{ attraction.Description }}</p>
                    </div>
                    <div class="content-container d-flex flex-column align-items-center text-center pb-0">
                        <span class="fs-6">Average time taken to see this attraction</span>
                        <span class="fs-5">{{ attraction.getAverageTimeSpent.hours }} hours {{ attraction.getAverageTimeSpent.minutes }} minutes</span>
                    </div>
                    <div class="content-container d-flex flex-column align-items-center text-center pb-0">
                        <span class="fs-6">Views by users</span>
                        <span class="fs-5">{{ attraction.Views }}</span>
                    </div>
                    <div class="content-container d-flex flex-column align-items-center text-center pb-0">
                        <span class="fs-6">Part of City</span>
                        <span class="fs-5"><a href="{% url 'home:citypage' attraction.City.NameSlug 'list' %}">{{ attraction.City.Name }}</a></span>
                    </div>
                </div>
                <div class="col-md mb-2">
                    <div class="content-container">
                        <div id="map"></div>
                    </div>      
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md">
                  <div class="content-container">
                    <div class="row">
                        <div class="col-9">
                            <h2 class="ms-auto me-auto">User Reviews</h2>
                        </div>
                        <div class="col">
                      <div class="dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sort By:
                            </a>

                            <ul class="dropdown-menu" style="z-index:1500" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#/" onclick="document.getElementById('dropdownMenuLink').innerHTML='Most Popular';updateReviews('{% url 'home:attractionpage' attraction.City.NameSlug attraction.NameSlug %}', 'popular');">Most Popular</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#/" onclick="document.getElementById('dropdownMenuLink').innerHTML='Newest First';updateReviews('{% url 'home:attractionpage' attraction.City.NameSlug attraction.NameSlug %}', 'new');">Newest First</a>
                                </li>
                                <li>
                                    <a class=" dropdown-item" href="#/" onclick="document.getElementById('dropdownMenuLink').innerHTML='Top Rated';updateReviews('{% url 'home:attractionpage' attraction.City.NameSlug attraction.NameSlug %}', 'rating');">Top Rated</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                        
                      <div id="reviews_feed">
                        Loading reviews...
                      </div>
                      
                  </div>
                </div>
            </div>
        </div>
        {% include 'attraction_sidebar.html' %}

    </div> 
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_e1GTo3SgpsDHlgVEBRbSCr8BwhAFyQ&callback=apiLoaded&language=en"></script>
{% endblock %}