{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}
{{city.Name}}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/city.css' %}">

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<script src="{% static 'scripts/rateAttraction.js' %}"></script>
<script src="{% static 'scripts/viewOnMap.js' %}"></script>

{% endblock %}


{% block content %}
<section class="city-section">
    <h1> {{city.Name}} City</h1>
    <div class="row">

        <div class="col-lg-5 col-md-4 order-md-2">
            <div id="citymap">Hello</div>
        </div>

        <div class="col-lg-7 col-md-8 order-md-1">

            <div id="attractions-container">
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">

                        {{dropdown_msg}}
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'home:citypage' city.NameSlug 'views' %}">Most
                                Popular</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'home:citypage' city.NameSlug 'date' %}">Newest
                                First</a></li>
                        <li><a class=" dropdown-item" href="{% url 'home:citypage' city.NameSlug 'popular' %}">Top
                                Rated</a></li>

                    </ul>
                </div>

                {% for attraction in attractions %}

                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <a href="" class="attraction-name">
                                    <h3 class="attraction-name">{{attraction.Name}}</h3>
                                </a>

                                <div class="attraction-description">
                                    <ul>
                                        <li>{{attraction.Description}}</li>
                                        <li class="views-count"><b class="attraction-label views">Views:</b>
                                            {{attraction.Views}}</li>
                                        <li class="rating-section">
                                            <h6 class="attraction-label">Rating:</h6>

                                            {% for i in '12345'|make_list %}
                                            {% if forloop.counter == 1 %}
                                            <span class="fa fa-star fa-lg checked ms-5"
                                                value="{{ forloop.counter }}"></span>
                                            {% else %}
                                            <span class="fa fa-star fa-lg checked ms-1"
                                                value="{{ forloop.counter }}"></span>
                                            {% endif %}
                                            {% endfor %}
                                        </li>
                                        <li class="rating-section my-rating">
                                            <h6 class="attraction-label">My Rating:</h6>

                                            {% for i in '12345'|make_list %}
                                            {% if forloop.counter == 1 %}
                                            <span class="fa fa-star fa-lg" style="margin-left: 1.2rem;"
                                                value="{{ forloop.counter }}" onclick="{% if user.is_authenticated %}
															rateAttraction()
														{% else %}
															showNotLoggedInAlert()
														{% endif %}"></span>
                                            {% else %}
                                            <span class="fa fa-star fa-lg ms-1" value="{{ forloop.counter }}" onclick="{% if user.is_authenticated %}
															rateAttraction()
														{% else %}
															showNotLoggedInAlert()
														{% endif %}">
                                            </span>
                                            {% endif %}
                                            {% endfor %}

                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-5">

                                <img class="attraction-img img-fluid" src=" {% static 'images/rankine.jpg' %}"
                                    alt="{{attraction.Name}} picture">
                                <button type="button" class="btn btn-primary btn-sm btn-xs" value="{{attraction.pk}}"
                                    onclick="viewOnMap()">View on Map</button>

                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</section>
{% endblock %}