<style>
    .fly-header .fly-nav-user .layui-nav-child {
        left: auto;
        right: 0;
        width: 170px;
        min-width: 0;
    }

    .layui-bg-black {
        background-color: #8bddfa !important;
    }

    .fly-header .layui-nav {
        padding: 0;
        background: none;
        margin-top: 10px;
    }

    .fly-header {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10000;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #e5e8ef;
        border-right: 1px solid #404553;
        border-radius: 0;
    }
</style>
<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <h1 class="fly-logo" style="color: #0C0C0C">MustVisit.com</h1>

        <form action="" style="position: relative;left: 428px;top: 17px;">
            <input type="text" name="" id="" class="layui-input"
                   style="width: 200px;float: left;height: 30px;border-radius: 0px; ">
            <button class="layui-btn layui-btn-primary" style="float:left;height: 30px;line-height: 26px">
                <i class="layui-icon layui-icon-search"></i>Search
            </button>
        </form>


        <ul class="layui-nav fly-nav-user">
            {% if request.user.username == "" %}

                <li class="layui-nav-item" style="padding-right: 10px">
                    <a href="{% url 'sign-up' %}" class="layui-btn" style="background: #0f98ff">Sign Up</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{% url 'login' %}" class="layui-btn" style="background: #0f98ff">Log in</a>
                </li>
            {% else %}
                <li class="layui-nav-item">
                    <a class="fly-nav-avatar" href="javascript:;">
                        <cite class="layui-hide-xs" style="color: #000000">hi&nbsp;&nbsp;{{ request.user.username }}</cite>
                        {% if userinfo is None %}
                            <img src="/static/profile_pictures/default.png">
                        {% else %}
                            <img src="{{ userinfo.Avatar }}">
                        {% endif %}
                    </a>

                </li>
            {% endif %}


        </ul>
    </div>
</div>