<style>
    .dropdown-menu {

        border: 3px solid #000;

    }

    .dropdown-menu li {
        border-bottom: 2px solid #000;

        line-height: 22px;
    }
    .navbar-expand .navbar-nav .dropdown-menu {

    padding-left: 10px;
        padding-right: 10px;
}
</style>
<nav id="navbar" class="navbar navbar-expand navbar-light fixed-top">
    <div class="container-fluid">
        <div class="navbar-nav me-auto">
            <div class="nav-item">
                <a id="nav-title" class="navbar-brand nav-item" href="{% url 'home:homepage' %}">MustVisit.com</a>
            </div>

            </li>
        </div>
        <ul class="navbar-nav nav-item">
            <li class="nav-item">
                <div class="container-fluid">
                    <form class="d-flex">
                        <input id="nav-input" class="form-control me-1" type="search" placeholder="Search..." size="25"
                            aria-label="Search">
                        <button id="nav-search-button" class="btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </li>
            {% if request.user.username == "" %}
            <li class="nav-item">
                <a type="button" class="btn btn-primary me-2" href="{% url 'Account:sign-up' %}">Sign Up</a>
                <a type="button" class="btn btn-primary" href="{% url 'Account:login' %}">Log In</a>
            </li>
            {% else %}

                <li class="nav-item">
                <li class="dropdown nav-item">
                    <a class="fly-nav-avatar" href="javascript:;">
                        {% if userinfo is None %}
                            <img src="/static/profile_pictures/default.png"  style="width:36px;height:36px;margin-left:10px;border-radius:100%;">
                        {% else %}
                            <img src="{{ userinfo.Avatar }}"  style="width:36px;height:36px;margin-left:10px;border-radius:100%;">
                        {% endif %}
                        <cite class="layui-hide-xs" style="color:#000000;font-style:normal;line-height:24px;font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;">Hi&nbsp;&nbsp;{{ request.user.username }}</cite>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'Account:account' %}">My Account</a></li>
                        <li><a href="{% url 'home:myattractions' %}">Saved Attractions</a></li>
                        <li><a href="#">My Reviews</a></li>
                        <li><a href="{% url 'home:contact' %}">Contact Us</a></li>
                        <li style="border: 0px;"><a href="{% url 'Account:loginout' %}" style="color: red">Sign out</a></li>
                    </ul>
                </li>

                </li>


            {% endif %}


        </ul>

    </div>
</nav>