{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}
Home
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'scripts/rateAttraction.js' %}" defer></script>
{% endblock %}

{% block content %}
<section>
	<div class="row">
		<!-- city section -->
		<div class="col-8">
			<div id="top_cities_container">
				<h1><u>Top Rated Cities</u></h1>

				{% for city in cities %}
				<div class="card">
					<div class="row">
						<div class="col-4" id="image">
							<img src="{% static 'images/rankine.jpg' %}" style="max-width:100%">
						</div>

						<div class="col-8" id="info">
							<a href="{% url 'home:citypage' city.NameSlug 'list' %}" , class="link" }>
								<h3 class="name">{{ city }}</h3>
							</a>
							<div class="city_description">
								<ul>
									<li class="information">{{city.Description}}</li>
									<li class="rating_section">
										<h6 class="attraction_label"><strong>Average User Rating:</strong></h6>

										{% for i in '12345'|make_list %}
										{% if forloop.counter == 1 %}
										<span class="fa fa-star fa-lg checked ms-5"
											value="{{ forloop.counter }}"></span>
										{% else %}
										<span class="fa fa-star fa-lg checked ms-1"
											value="{{ forloop.counter }}"></span>
										{% endif %}
										{% endfor %}
									</li>
									<li class="rating_section my_rating">
										<h6 class="attraction_label"><strong>My Rating:</strong></h6>

										<form class="rate_form" action="" method="POST" id="{{city.NameSlug}}">
											{% csrf_token %}
											{% for i in '12345'|make_list %}
											{% if forloop.counter == 1 %}
											<button type="submit" class="fa fa-star fa-lg my_btn" style="margin-left: 1.2rem;"
												name="{{ forloop.counter }}" value="{{city.NameSlug}}"
												onclick="{% if user.is_authenticated %}
															rateAttraction()
														{% else %}
															showNotLoggedInAlert()
														{% endif %}">
											</button>
											{% else %}
											<button type="submit" class="fa fa-star fa-lg ms-1 my_btn" 
													name="{{ forloop.counter }}" value="{{ city.NameSlug }}"
													onclick="{% if user.is_authenticated %}
																rateAttraction()
															{% else %}
																showNotLoggedInAlert()
															{% endif %}">
											</button>
											{% endif %}
											{% endfor %}
										</form>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<!-- sidebar -->
		<div class="col-4 position-fixed mr-5" id="sidebar">
			<div id="random_loc_button">
				<a href="/home/random/">
					<button type="button" class="btn btn-primary btn-lg">Send Me Somewhere Random!</button>
				</a>
			</div>

			<h2><u>Top Ten Attractions</u></h2>

			<div id="top_attractions">
				<ol id="top_attractions">
					{% for attraction in attractions %}
					<a href="cities/{{attraction.City.NameSlug}}/{{attraction.NameSlug}}" class="link">
						<li id="top_attractions">{{attraction.Name}} - {{attraction.City}}</li>
					</a>
					{% endfor %}
				</ol>
			</div>

			<div id="maps">
				<!--This is where the google maps API will go-->
			</div>
		</div>
	</div>
</section>
{% endblock %}