{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}
Home
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
<script src="{% static 'scripts/rateAttraction.js' %}" defer></script>

<script>
	var cityRatingName = [];
	var cityRatingValue = [];
	var cit = [];

	{% for city in cities %}
	cit.push("{{ city.NameSlug }}");
	{% endfor %}
	{% for rating in city_ratings %}
	cityRatingName.push("{{ rating.CityRated.NameSlug }}");
	cityRatingValue.push({{ rating.Rating }})
	{% endfor %}
</script>

{% endblock %}

{% block content %}
<section>
	<div class="row">
		<!-- city section -->
		<div class="col-md-8">
			<div id="top_cities_container">
				<h1><u>Top Rated Cities</u></h1>

				{% for city in cities %}
				<div class="card">
					<div class="row">
						<div class="col-4" id="image">
							<img src="{{ MEDIA_URL }}{{ city.HeaderPicture }}" alt="{{ city.Name }}" title="{{ city.Name }}" style="max-width:100%">
						</div>

						<div class="col-8 pb-2" id="info">
							<a href="{% url 'home:citypage' city.NameSlug 'list' %}" , class="link" }>
								<h3 class="name">{{ city }}</h3>
							</a>
							<div class="city_description">
								<ul>
									<li class="information">{{city.Description}}</li>
									<li class="rating_section">
										<h6 class="attraction_label">Average Rating:</h6>

										{% for i in '12345'|make_list %}
										{% if city.getAverageRating > forloop.counter0 %}
										<span class="fa fa-star fa-lg checked me-1 checked"
											value="{{ forloop.counter }}"></span>
										{% else %}
										<span class="fa fa-star fa-lg me-1" value="{{ forloop.counter }}"></span>
										{% endif %}
										{% endfor %}

									</li>
                                    {% if user.is_authenticated %}
									<li class="rating_section my_rating">
										<h6 class="attraction_label" style="margin-right: 67px;">My Rating:</h6>

										<form class="rate_form" action="" method="POST" id="{{city.NameSlug}}">
											{% csrf_token %}
											{% for i in '12345'|make_list %}
											<button type="button" class="fa fa-star fa-lg  my_btn"
												name="{{ forloop.counter }}" value="{{ city.NameSlug }}" onclick="{% if user.is_authenticated %}
																rateAttraction()
															{% else %}
																showNotLoggedInAlert()
															{% endif %}">
											</button>
											{% endfor %}
										</form>
									</li>
                                    {% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<!-- sidebar -->
		<div class="col-md-4 position-fixed mr-5 p-3" id="sidebar">
			<div id="random_loc_button">
				<a href="{% url 'home:random' %}">
					<button type="button" class="btn btn-primary btn-lg">Send Me Somewhere Random!</button>
				</a>
			</div>

			<h2><u>Top Ten Attractions</u></h2>

			<div id="top_attractions">
				<ol id="top_attractions">
					{% for attraction in attractions %}
					<a href="{% url 'home:attractionpage' attraction.City.NameSlug attraction.NameSlug %}" class="link">
						<li id="top_attractions">{{attraction.Name}} - {{attraction.City}}</li>
					</a>
					{% endfor %}
				</ol>
			</div>

			<div id="maps">
				<!--This is where the google maps API will go-->
			</div>
		</div>
	</div>
</section>
{% endblock %}