{% for review in reviews %}
<div class="row ms-2 me-2 border">
    <div class="col-md-2 p-3">
        {% if review.user_name and review.user_surname %}
            {{ review.user_name }} {{ review.user_surname|first }}.<br />
            ({{ review.user_username }}) 
        {% else %}
            {{ review.user_username }}
        {% endif %}
    </div>
    <div class="col-md-3 p-3 d-flex align-items-center text-center">
        {% for i in '12345'|make_list %}
            {% if review.Rating > forloop.counter0 %}
                <span class="fa fa-star fa-lg checked me-1 checked" value="{{ forloop.counter }}"></span>
            {% else %}
                <span class="fa fa-star fa-lg me-1" value="{{ forloop.counter }}"></span>
            {% endif %}
        {% endfor %}   
  </div>
  <div class="col-md-5 p-3  d-flex align-items-center">
      <p>
        {{ review.Title }}<br />
        <a href="{% url 'home:view_review' attraction.City.NameSlug attraction.NameSlug review.id %}" class="fw-bold">Read the full review.</a>
      </p>
  </div>
  <div class="col-md-2 votes">
      <div class="row h-50 align-items-center">
          <div class="col text-end">
              <a href="#/" data-id="{{ review.id }}" class="upvote {% if review.user_liked == 1 %}upvoted{% endif %}"></a>
          </div>
          <div class="col text-start">
              <span class="upvotes">{{ review.likes }}</span>
          </div>
      </div>
      <div class="row h-50 align-items-center">
          <div class="col text-end">
              <a href="#/" data-id="{{ review.id }}" class="downvote {% if review.user_liked == -1 %}downvoted{% endif %}"></a>
          </div>
          <div class="col text-start">
              <span class="downvotes">{{ review.dislikes }}</span>
          </div>
      </div>
  </div>
</div>
{% endfor %}