h1 {
	color: white;
	font-family: "Freestyle Script";
	text-align: center;
	font-size: 40pt;
}

h2 {
	color: white;
	font-family: "Freestyle Script";
	text-align: center;
	font-size: 30pt;
}

#top_cities_container {
	margin: 15px 30px;
	padding: 10px;
	border-radius: 10px;
}

#sidebar {
	background-color: rgb(0, 170, 0);
	height: 100%;
	left: 65.1%;
	opacity: 0.85;
	
}

.card {
	width: 100%;
	margin: 20px 0px;
	border: 2px solid black;
	padding: 5px;
	padding-bottom: 5px;
	height: auto;
	color: white;
}

.link {
	text-decoration: none;
}

.name {
	margin-bottom: 10px;
	text-decoration: underline;
	text-align: center;
	font-family: "Verdana", sans-serif;
	font-size: 1.5rem;
	transition: ease-out 0.1s;
	color: black;
}

.name:hover{
	color: rgb(85, 137, 252);
}

#info {
	height: 100%;
	color: black;
}

#image {
	padding: 25pt;
	opacity: 0.85;
	transition: ease-in-out 0.2s;
	height: auto;
	margin-right: auto;
	text-align: center;
}

#image:hover {
	opacity: 1;
}

.city_description {
  font-size: 16px;
  font-family: "Verdana";
  letter-spacing: 0.05rem;
}

.information {
	list-style-type: none;
	padding: 5px 0;
}

.rating_section {
	display: flex;
	padding-top: 30pt;
}

.checked {
	color:#eed202;
}

.rated {
	color: #bfa900;
}

.my_btn {
	background-color: inherit !important;
	border: 0 !important;
}

.attraction_label {
	margin-right: 1.2rem;
}

#random_loc_button {
	padding: 10pt;
	text-align: center;
}

#top_attractions {
	font-size: 13pt;
	font-family: Verdana;
	padding-top: 4pt;
	font-weight: bold;
	color: black;
}

#top_attractions:hover {
	color: rgb(85, 137, 252);
}