section {
  background-color: rgb(15, 152, 255);
}

#saved-reviews-page h1 {
  color: black;
  margin: 25px 0 20px 0;
  letter-spacing: 0.05em;
  font-size: 2rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

#accordion {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.accordion-item .accordion-header .accordion-button {
  font-size: 1.3rem;
  padding-left: 2%;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}
.accordion-item .accordion-header .accordion-button .star-ratings {
  position: absolute;
  right: 80px;
}

.card {
  margin-bottom: 8px;
}

.card .card-body .card-title {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
}

.checked {
  color: #d3ba00;
}

.review-name {
  margin-right: 20px;
}

.review-date {
  margin-right: 20px;
  font-style: italic;
  font-size: 90%;
  color: #6c757d;
}

.review-button {
  margin-top: 6px;
}

.card-subtitle .commment-header {
  padding-bottom: 5px;
}

.empty-msg {
  color: black;
  margin: 20px 0 15px 0;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}
