h1 {
    padding-top: 20pt;
    text-align: center;
    font-family: "Freestyle Script";
    font-size: 50pt;
    text-decoration: underline;
    color: white;
}

.main-section {
    height: auto;
    left: 4.5%;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
}

.field {
    padding-bottom: 20px;
}

.field-content {
    padding: 7px;
}

.comment-field {
    min-height: 150pt;
}

.rating-field {
    display: inline-block;
}

.foot {
    color: #9b9b9b;
    padding-top: 10px;
    display: inline-block;
}

.back {
    float: right;
    padding-right: 15px;
}